# 构建产物
node_modules/
dist/
target/

# 敏感文件
.env
.env.*
*.db
*.db-*

# 运行时生成
output/
deploy/vps/

# 系统文件
.DS_Store
Thumbs.db

# ide
.spec-workflow

# 其他
test.md
deploy/DEPLOY.md
tmp
scripts/.artist_blacklist
scripts/.pixiv_token